@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Julius+Sans+One');

body {
  background-color: #F5F1E3;
}

header, footer {
  background-color: #AED4E6;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.jumbotron {
  background-color: #AED4E6;
}

h1 {
  font-family: 'Julius Sans One', 'Alegreya Sans SC', sans-serif;
  text-align: center;
}

/*nav {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 20px;
}*/
nav .btn {
  background-color: #fef9ff;
  color: #5483A8;
}

nav .btn:hover {
  font-weight: bold;
}

nav .btn:visited {
  color: #178391;
}

nav .btn:active {
  text-decoration: none;
}

#home p {
  margin-left: auto;
  margin-right: auto;
}

#home img {
  border-radius: 15px;
  border: 4px solid white;
}

p {
  color: #050505;
}
